<%# Show view for looking at songs in more detail %>

<h1>Title: <%= @song.title %></h1>
<h2>Artist: <%= @song.artist %></h2>
<h2>Album: <%= @song.album %></h2>
<h2>Genre: <%= @song.genre %></h2>
<h2>Year: <%= @song.year %></h2>

<%= link_to t('songs.show.back'), root_path %>
<%= link_to t('songs.show.edit'), edit_song_path(@song) %>
<%= link_to t('songs.show.delete'), song_path(@song), method: :delete, data: { confirm: "Are you sure?" }  %>
