!!!
%html
  %head
    %meta{:charset => "UTF-8"}/
    %title title
  %body

%p= "Dear #{t('app_title')},"
%p= "Could you get in touch with me please?"

%dl
  %dt Name:
  %dt= @name
  %p
  %dt Email:
  %dt= @email
  %p
  %dt Telephone:
  %dt= @telephone

%p= @message

%p Thanks,
%p= @name
