<!DOCTYPE html>
<html>
  <head>
    <title>Music Collection</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>

    <%# Navbar Setup%>

    <nav class="navbar navbar-default">

      <div class="container">

        <div class="navbar-header">
          <%= link_to t('app_title'), root_path, class: "navbar-brand" %>
        </div>

        <ul class="nav navbar-nav">
          <li><%= link_to t('nav_bar.sign_up'), new_user_registration_path %></li>
          <%# Only show sign out button if user is logged in; show sign in button, if logged out.%>
          <% if user_signed_in? %>
              <li><%= link_to t('nav_bar.sign_out'), destroy_user_session_path, method: :delete %></li>
          <% else %>
              <li><%= link_to t('nav_bar.log_in'), new_user_session_path %></li>
          <% end %>
        </ul>

        <ul class="nav navbar-nav navbar-right">

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            Genres <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <%# Get all the genres %>
              <% Genre.all.each do |genre| %>
                <li class="<%= 'active' if params[:genre] == genre.name %>">
                  <%= link_to genre.name, songs_path(genre: genre.name), class: "link" %>
                </li>
              <% end %>
            </ul>
          </li>

          <%# You have to be logged in, to add a song.%>
          <% if user_signed_in? %>
              <li><%= link_to t('nav_bar.add_song'), new_song_path %></li>
          <% end %>

          <li><%= link_to t('nav_bar.contact_us'), contact_path %></li>

        </ul>

      </div>

    </nav>


    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="container">
      <%= yield %>
    </div>
    <!-- Add Footer Here -->
  </body>
</html>
